---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Slider from "../components/Slider.astro";
import Testimonials from "../components/Testimonials.astro";
import Cta from "../components/Cta.astro";
---

<Layout title="XML HTML Sitemap / NoIndex SEO">
	<Hero />
	<Slider />
	<Testimonials />
	<Cta />

	<footer class="max-w-5xl py-10 text-center mx-auto px-5">
		<div class="mb-4 text-white hover:text-white/80 transition space-x-8">
			<a href="#">Support</a>
		</div>
		<span class="opacity-40 text-base"
			>&copy; {new Date().getFullYear()} XML HTML Sitemap / NoIndex SEO</span
		>
	</footer>
</Layout>
