---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Slider from "../components/Slider.astro";
import Testimonials from "../components/Testimonials.astro";
import Button from "../components/Button.astro";
---

<Layout title="XML HTML Sitemap / NoIndex SEO">
	<Hero />
	<Slider />
	<Testimonials />

	<div class="text-center mb-20 bg-cyan-600">
		<Button />
	</div>
	<footer class="max-w-5xl py-10 text-center mx-auto px-5">
		<div class="mb-4 text-cyan-500 space-x-8">
			<a href="#">Shopify App Page</a>
			<a href="#">Support</a>
		</div>
		<span class="text-slate-400 text-base"
			>&copy; {new Date().getFullYear()} XML HTML Sitemap / NoIndex SEO</span
		>
	</footer>
</Layout>
