<a
  href="#"
  class="inline-flex group items-center gap-4 px-16 py-6 shadow-xl hover:shadow-cyan-600/30 font-bold shadow-cyan-600/20 ease-in-out bg-cyan-500 transition duration-300 rounded-xl text-white text-2xl"
>
  <svg
    width="24"
    height="28"
    class="group-hover:-translate-x-8 transition"
    viewBox="0 0 24 28"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M16.3726 3.17759C16.3726 3.17759 16.0658 3.26521 15.5616 3.41855C15.474 3.13378 15.3425 2.80519 15.1671 2.4547C14.5973 1.35941 13.7425 0.767951 12.7342 0.767951C12.6685 0.767951 12.6027 0.767951 12.5151 0.789856C12.4932 0.746045 12.4493 0.724139 12.4274 0.680327C11.989 0.1984 11.4192 -0.0206584 10.7397 0.00124739C9.42466 0.045059 8.10959 0.987009 7.05753 2.67376C6.31233 3.85667 5.74247 5.34626 5.58904 6.50727C4.07671 6.96729 3.02466 7.29588 3.00274 7.31779C2.23562 7.55875 2.2137 7.58066 2.12603 8.30355C1.99452 8.85119 0 24.2948 0 24.2948L16.5699 27.1644V3.13378C16.4822 3.15568 16.4164 3.15568 16.3726 3.17759ZM12.537 4.3605C11.6603 4.62337 10.6959 4.93005 9.75342 5.21483C10.0164 4.18526 10.5425 3.15568 11.1562 2.4766C11.3973 2.23564 11.726 1.95086 12.0986 1.77562C12.4712 2.56423 12.5589 3.63761 12.537 4.3605ZM10.7616 0.87748C11.0685 0.87748 11.3315 0.943197 11.5507 1.07463C11.2 1.24988 10.8493 1.53465 10.5205 1.86324C9.68767 2.76138 9.05205 4.16335 8.78904 5.4996C8 5.74057 7.21096 5.98153 6.48767 6.20059C6.94795 4.11954 8.72329 0.943197 10.7616 0.87748ZM8.19726 12.9257C8.28493 14.3276 11.989 14.6343 12.2082 17.9421C12.3616 20.5489 10.8274 22.3233 8.6137 22.4547C5.93973 22.6299 4.47123 21.0527 4.47123 21.0527L5.0411 18.6431C5.0411 18.6431 6.50959 19.7603 7.69315 19.6727C8.46027 19.6289 8.74521 18.9936 8.72329 18.5555C8.6137 16.7154 5.58904 16.8249 5.39178 13.8019C5.21644 11.2827 6.88219 8.71976 10.5644 8.47879C11.989 8.39117 12.7123 8.74166 12.7123 8.74166L11.8795 11.8961C11.8795 11.8961 10.937 11.458 9.81918 11.5456C8.19726 11.6551 8.17534 12.6847 8.19726 12.9257ZM13.4137 4.09763C13.4137 3.44046 13.326 2.49851 13.0192 1.7099C14.0274 1.90705 14.5096 3.02425 14.7288 3.70333C14.3342 3.81286 13.8959 3.94429 13.4137 4.09763Z"
      fill="white"></path>
    <path
      d="M17.1179 27.0768L24.0001 25.3682C24.0001 25.3682 21.0412 5.36819 21.0193 5.23676C20.9974 5.10532 20.8878 5.0177 20.7782 5.0177C20.6686 5.0177 18.7398 4.97389 18.7398 4.97389C18.7398 4.97389 17.5563 3.83478 17.1179 3.39667V27.0768V27.0768Z"
      fill="white"></path>
  </svg>

  <span class="group-hover:-translate-x-8 transition">Get It Now</span>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    class="w-6 h-6 group-hover:translate-x-8 duration-300 transition"
    viewBox="0 0 24 24"
    stroke-width="3"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
  </svg>
</a>
