<section class="mb-28">
  <h2 class="font-bold text-center mb-12 text-3xl md:text-6xl sticky top-10">
    Features
  </h2>

  <div
    class="flex flex-col items-center [&>*]:sticky [&>*]:top-36 [&>*]:w-2/3 [&>*]:rounded-xl [&>*]:overflow-clip [&>*]:shadow-xl [&>*]:shadow-cyan-600/10 gap-20"
  >
    <img src="sitemaps/image_01.png" alt="" />
    <img src="sitemaps/image_02.png" alt="" />
    <img src="sitemaps/image_03.png" alt="" />
    <img src="sitemaps/image_04.png" alt="" />
    <img src="sitemaps/image_05.png" alt="" />
  </div>
</section>
