<section class="mb-20">
  <div
    class="overflow-x-scroll py-10 [&>*]:rounded-xl [&>*]:overflow-clip [&>*]:shadow-xl [&>*]:shadow-cyan-500/30 disable-scrollbars px-20 snap-x flex scroll-px-20 gap-10"
  >
    <div class="snap-center w-2/3 shrink-0">
      <iframe
        class="w-full shrink-0 aspect-video"
        src="https://www.youtube.com/embed/H7C4Xn1cT-o"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="snap-center shrink-0 w-2/3">
      <img src="sitemaps/image_01.png" alt="" />
    </div>
    <div class="snap-center shrink-0 w-2/3">
      <img src="sitemaps/image_02.png" alt="" />
    </div>
    <div class="snap-center shrink-0 w-2/3">
      <img src="sitemaps/image_03.png" alt="" />
    </div>
    <div class="snap-center shrink-0 w-2/3">
      <img src="sitemaps/image_04.png" alt="" />
    </div>
    <div class="snap-center shrink-0 w-2/3">
      <img src="sitemaps/image_05.png" alt="" />
    </div>
    <div class="snap-center shrink-0 w-2/3">
      <img src="sitemaps/image_06.png" alt="" />
    </div>
  </div>
</section>

<style>
  .disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }

  .disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
</style>
