<section class="mb-28">
  <div
    class="flex flex-col items-center [&>*]:sticky [&>*]:top-20 [&>*]:w-2/3 [&>*]:rounded-xl [&>*]:overflow-clip [&>*]:shadow-xl [&>*]:shadow-cyan-600/10 gap-20"
  >
    <img src="sitemaps/image_01.png" alt="" />
    <img src="sitemaps/image_02.png" alt="" />
    <img src="sitemaps/image_03.png" alt="" />
    <img src="sitemaps/image_04.png" alt="" />
    <img src="sitemaps/image_05.png" alt="" />
    <img src="sitemaps/image_06.png" alt="" />
  </div>
</section>

<style>
  .disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }

  .disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
</style>
