<a
  href="https://apps.shopify.com/sitemap-noindex-seo-tools?ref=cross-promoter&review_id=981923"
  class="focus:outline-none hover:scale-105 transition duration-300 inline-block"
  target="_blank"
>
  <div
    class="flow-root my-2 p-6 sm:p-12 rounded-3xl bg-white shadow-xl focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2"
  >
    <div class="divide-y divide-gray-200">
      <div class="">
        <div class="flex items-center">
          <img
            src="https://cdn.shopify.com/app-store/listing_images/f8de556eb1ffcec474cc7a34a71f1158/icon/CNb_orG12PcCEAE=.png?height=72&width=72"
            alt="XML HTML Sitemap / NoIndex SEO"
            class="h-12 w-12 rounded-full"
          />
          <div class="ml-4 flex justify-between w-full">
            <div class="flex items-center justify-between">
              <span>
                <h4 class="text-lg font-medium -mb-2 text-gray-900">
                  XML HTML Sitemap / NoIndex SEO
                </h4>
                <p>
                  <time class="text-sm text-gray-500" datetime="2022-11-18"
                    >Friday, 18 Nov 2022</time
                  >
                </p>
              </span>
            </div>
            <div class="flex mt-1 items-center">
              <svg
                class="text-yellow-400 h-3 w-3 md:h-5 md:w-5 flex-shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"></path>
              </svg>
              <svg
                class="text-yellow-400 h-3 w-3 md:h-5 md:w-5 flex-shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"></path>
              </svg>
              <svg
                class="text-yellow-400 h-3 w-3 md:h-5 md:w-5 flex-shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"></path>
              </svg>
              <svg
                class="text-yellow-400 h-3 w-3 md:h-5 md:w-5 flex-shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"></path>
              </svg>
              <svg
                class="text-yellow-400 h-3 w-3 md:h-5 md:w-5 flex-shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <p class="sr-only">out of 5 stars</p>
          </div>
        </div>

        <div
          class="mt-8 space-y-6 text-lg sm:text-2xl leading-normal text-slate-600"
        >
          <p>
            <slot />
          </p>
        </div>
      </div>
    </div>
  </div>
</a>
