---
import Testimonial from "../components/Testimonial.astro";
import Button from "./Button.astro";
---

<section class="max-w-6xl mx-auto px-5 mb-20">
  <h2 class="font-bold text-center mb-8 text-5xl">What our users say</h2>
  <div class="grid sm:grid-cols-2 mb-16 xl:grid-cols-2 gap-8 gap-y-4">
    <Testimonial />
    <Testimonial />
    <Testimonial />
    <Testimonial />
  </div>
  <div class="text-center">
    <Button />
  </div>
</section>
